.todo{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 450px;
    margin-top: 50px;
    box-shadow: 1px 1px 2px 2px;
    background-color: floralwhite;
}
body{
    background-image: url(https://thumbs.dreamstime.com/z/square-clock-o-clock-todo-wording-gray-background-selective-focus-modern-aqua-blue-eight-72477250.jpg);
}
.full{
    font-size: 30px !important;
}
.bn{
    margin: 7px;
}
.center{
    text-align: center;
}